.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-2) 4rem;
  border-top: var(--border-width-1) solid var(--clr-teal-50);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  color: var(--clr-teal-00);
}

.cardBody {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.count {
  color: var(--clr-slate-500);
}
