.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: var(--spacing-2) var(--spacing-3);
  scrollbar-width: thin;
}

.emptyState {
  padding: var(--spacing-3) var(--spacing-2);
  color: var(--clr-slate-500);
  text-align: center;
}
