.list {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
}

.emptyState {
  padding: var(--spacing-3) var(--spacing-2);
  color: var(--clr-slate-500);
  text-align: center;
}
