.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-left: var(--spacing-8);
  padding-top: var(--spacing-2);
}

.emptyState {
  padding: var(--spacing-3) var(--spacing-2);
  color: var(--clr-slate-500);
  text-align: center;
}
